@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-grid {
    width: 80%;
    max-width: 1400;
    margin: 0% auto;
}


/* header */

header {
    background-color: #F9003D;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

header nav a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}


/* main */


/* imagem da main */

.desenvolvimento {
    width: 100%;
    height: 740px;
    background-image: url(assets/images/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

div h1 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    display: flex;
    padding-top: 150px;
    padding-bottom: 40px;
}


/* linha da primeira main */

div hr {
    width: 545px;
    border-color: #ffaf00;
}

div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    text-transform: uppercase;
    color: #F9003D;
    margin-top: 50px;
}

div img {
    padding-top: 40px;
}


/* segunda section */

section {
    background-color: #080324;
    padding-top: 40px;
}

h2 {
    color: #F9003D;
    width: 384px;
    height: 77px;
    padding-top: 30px;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
}

#imagem {
    width: 491px;
    height: 476px;
}

div #participantes {
    color: white;
    width: 288px;
    height: 34px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

div #grupos {
    width: 557px;
    height: 154px;
    font-family: 'Bebas Neue', cursive;
    font-size: 64px;
    color: #FFAF00;
}

div #lorem {
    width: 592px;
    height: 252px;
    font-family: url(./Open\ Sans\ -\ Google\ Fonts.html);
    font-size: 18px;
    color: white;
}

.text-geral {
    display: flex;
}

.text {
    display: table-column-group;
    padding-left: 100px;
}


/* terceira section */

div .info {
    width: 288px;
    height: 34px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.info {
    background-image: url(./assets/images/imagem-fundo-info.png);
    height: 200px;
}