@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Titillium+Web:ital,wght@0,200;1,600&display=swap');

/* font-family: 'Quicksand', sans-serif;
font-family: 'Titillium Web', sans-serif; */


body{
    font-family: 'Quicksand', sans-serif;

    color: gray;

    background-color: rgb(255, 255, 255);

    margin: 0px;

}

header{
    background-color:gray;
 
    
}

header h1 #logoux{
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

header .grid-layout{
    width: 80%;
    margin: 0 auto; 


   

}

header .header-flex{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{

    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 2px;
    align-items: center;

}

header nav a {
    color: white;
    text-decoration: none;

}




header h1{
    color: white;
    font-family: 'Titillium Web', sans-serif;
    text-transform: lowercase;
}


