/* Imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fontss/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(../assets/fontss/Quicksand/OFL.txt)
}
@font-face {
    font-family: QuickSand-regular;
    src: url(../assets/fontss/Quicksand/static/Quicksand-Regular.ttf)
}

@font-face {
    font-family: titillium_web;
    src: url(../assets/fontss/Titillium_Web/OFL.txt);
}

@font-face {
    font-family: titillium_web_black;
    src: url(../assets/fontss/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titillium_web_bold;
    src: url(../assets/fontss/Titillium_Web/TitilliumWeb-Bold.ttf);
}

/* reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* classes genericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

/* classes genericas */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* classes genericas */
.mostrar-menu {
    left: 0 !important;
}

.mostrar-usuarios {
    right: 0 !important;
}


body {
    color: white;
}


/* header */
header {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
    ;

}


header .header-top {
    display: none;
}

header .menu {
    display: none;
}


.header-bottom {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header .menu {
    position: fixed;
    top: 60px;
    z-index: 101px;
    left: -80vw;
    height: calc(100vh - 60px);
    width: 80vw;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;

    transition: left 0.7s;





}

header .header-bottom nav>a {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #f9aa01;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: inter;
    text-decoration: none;

}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;


    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;

}



/* parte do segundo menu lateral */

.menu-usuarios {
    position: fixed;
    top: 60px;
    padding: 15px;
    right: -15vw;
    width: 15vw;
    gap: 20px;
    background-image: linear-gradient(to right bottom, rgb(27, 20, 38, 0.9), rgba(27, 20, 38, 0.9));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: right 0.7s;

}




/* main main main main main */

main {
    background-image: url(../assets/images-login/Banner_Login.png);
    background-repeat: no-repeatx;
    height: 687px;
    width: 100%;
    padding-top: 60px;
}

.form{

    height: 462px;
    width: 335px;
    padding-top: 50px;
    border-radius: 8px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.6) rgba(27, 20, 38, 0.38));
    backdrop-filter: blur(6px);
    border: 1px solid transparent;
    border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    border-image-slice: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;

}


.titulo > hr{
    border: 2px solid #f9aa01;
    width: 90px;
}

.titulo > h1{
    font-size: 28px;
    font-family: titillium_web_black;
    text-transform: uppercase;
}

.caixinha{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}

.email{
    width: 273px;
    height: 40px;
    border: 1px solid transparent;
    /* border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    background-image: linear-gradient(to right , rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1) );
    border-radius: 8px; */
    backdrop-filter: blur(6px);
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(171, 170, 170, 0.6 ), rgba(170, 170, 170, 0.38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);


    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    
}

.email > input{
    width: 90%;
    height: 20px;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    
}



.email > input::placeholder{
    
    color: white;
    font-family: titillium_web;
    font-size: 16px;
    font-style: normal;

}


.senha{
    width: 273px;
    height: 40px;
    border: 1px solid transparent;
    /* border-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border-image-slice: 1;
    background-image: linear-gradient(to right , rgba(255, 255, 255, 0.6), rgba(239, 239, 239, 0.1) );
    border-radius: 8px; */
    backdrop-filter: blur(6px);
    border: 2px solid transparent;
    border-radius: 8px;
    background:
        /* fundo */
        linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.38)) padding-box,
        /* fundo borda */
        linear-gradient(90deg, rgba(255, 255, 255, .6), rgba(255, 255, 255, .1)) border-box;
    backdrop-filter: blur(4px);


    display: flex;
    justify-content: center;
    align-items: center;
}

.senha > input{
    width: 90%;
    height: 20px;
    align-items: center;
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
}



.senha > input::placeholder{
    
    color: white;
    font-family: titillium_web;
    font-size: 16px;
    font-style: normal;

}

/* .botao{
    width: 273px;
    height: 40px;
    background-color: #f9aa01;
    margin-bottom: 80px;
    border-radius: 8px;
} */

.botao > button{

    width: 273px;
    height: 40px;
    margin-bottom: 80px;
    border-radius: 8px;

    font-family: titillium_web_bold;
    font-size: 24px;
    color: #1B1426;
    border: none;
    background-color: #f9aa01;

    display: flex;
    justify-content: center;
    align-items: center;
}



