/* Imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fontss/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: QuickSand;
    src: url(../assets/fontss/Quicksand/OFL.txt;)
}

@font-face {
    font-family: titillium_web;
    src: url(../assets/fontss/Titillium_Web/OFL.txt);
}

@font-face {
    font-family: titillium_web_black;
    src: url(../assets/fontss/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titillium_web_bold;
    src: url(../assets/fontss/Titillium_Web/TitilliumWeb-Bold.ttf);
}
/* reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* classes genericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;

}

/* classes genericas */
.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* classes genericas */
.mostrar-menu{
    left: 0 !important;
}

.mostrar-usuarios{
    right: 0 !important;
}


body {
    color: white;
}


/* header */
header {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
   ;

}


header .header-top {
    display: none;
}

header .menu {
    display: none;
}


.header-bottom {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header .menu {
    position: fixed;
    top: 60px;
    z-index: 101px;
    left: -80vw;
    height: calc(100vh - 60px);
    width: 80vw;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;

    transition: left 0.7s;

   
    


}

header .header-bottom nav>a {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #f9aa01;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: inter;
    text-decoration: none;

}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {

    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;


    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;

}



/* parte do segundo menu lateral */

.menu-usuarios {
    position: fixed;
    top: 60px;
    padding: 15px;
    right: -15vw;
    width: 15vw;
    gap: 20px;
    background-image: linear-gradient(to right bottom, rgb(27, 20, 38,0.9), rgba(27, 20, 38, 0.9));
    backdrop-filter: blur(45px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: right 0.7s;

}


main {
    height: 606px;
    width: 100%;
    /* padding-top: 60px; */
}




main .banner {
    background-image: url(../assets/images/banner.svg);
    background-repeat: no-repeat;
    height: calc(100vh - 60px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 85px; */
}



section h1{
    color: white;
    font-family: titillium_web_black;
    font-size: 40px;
    margin-top: 10px;
    text-shadow: #fd4255 1px 0 10px;

    display: flex;
    justify-content: center;
    align-items: center;
   
     
}

 section a {
    background-color: #f9aa01;
    color: #1B1426;
    border-radius: 8px;
    width: 171px;
    height:40px ;
    margin-bottom: 88px;
    text-transform: capitalize;



    font-family: titillium_web_bold;
    font-size: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

 .cards{
    position: relative;
    background-color: #1B1426;
    height: 590px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 70px;
        
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section{
    background-color: #f9aa01;
    height: 1535px;
    width: 100%;

}

 .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    
} 

section  h2{
    color: #1B1426;
    font-family: titillium_web_black;
    font-size: 18px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px; */
}

hr{
    border: 2px solid #1B1426;
    width: 204px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}
























/* Tablets >= 768px */
@media screen and (min-width: 768px) {}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    .layout-grid{
            width: 100%;
            max-width: 1200px;
              
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-sociais {
        display: none;
    }


    header{
        position: static;
        height: 140px;
    }

    header .header-top{
        display: block; 
        border-bottom: 1px solid #f9aa01;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-top .contatos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        width: 410px;
    }

    .header-top .contatos > div{
        display: flex;
        gap: 10px;
       width: 200px;
       
        
        
    }

     .header-top .midias-sociais{
        display: flex;
        
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .header-bottom nav > a{
        font-size: 14px;
        padding: 0;
        border: none;
    }

    header .header-bottom .menu-usuarios{
        position: static;
        width: 140px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
        
    }

    main {
        height: 606px;
        width: 100%;
    }

    main .banner {
        background-image: url(../assets/images/Banner_background_1.png);
        background-repeat: no-repeat;
        height: calc(100vh - 60px);
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

}